body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d8f9f9;
  }
  
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    
    .Card{
        background: #ffffff;
        border: 3px solid #c2e9ef;
        padding: 40px;
        border-radius: 20px;
    }
  
    h1 {
      color: #000;
      font-size: 7rem;
      margin: 0;
      margin-bottom: 20px;
  
      &.plus {
        color: #5DE868;
      }
      &.minus {
        color: #DB0A00;
      }
    }
  
    h2 {
      font-size: 2rem;
      margin: 0;
      color: #556581;
    }
    .Buttons {
        display: flex;
    }
    button {  
      background: transparent;
      border: 2px solid transparent;
      text-align: center;
      font-size: 22px;
      border-radius: 15px;
      padding: 10px 25px;
      cursor: pointer;
      margin: 0 10px;
      transition: all 0.05s ease-in-out;
  
      &.minus {
        background-color: #DB0A00;
        color: #fff;
        box-shadow: 0 4px 0 darken(#DB0A00, 10%);
        border: 1px solid darken(#DB0A00, 15%);
      }
  
      &.plus {
        background-color: #5DE868;
        color: #fff;
        box-shadow: 0 4px 0 darken(#5DE868, 10%);
        border: 1px solid darken(#5DE868, 15%);
      }
  
      &:hover {
        transform: translateY(-2px);
      }
  
      &:active {
        transform: translateY(2px);
        box-shadow: none;
      }
    }
  }

